/* Footer.css */
.footer {
    background-color: #343a40;
    padding: 20px 0;
    text-align: center;
    color: #fff;
  }
  
  .footer-container {
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .logo-social {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  
  .logo {
    height: 70px;
    margin-bottom: 5px;
  }
  
  .social-links {
    display: flex;
    gap: 10px;
  }
  
  .social-links a {
    color: #ffc107;
    text-decoration: none;
  }
  
  .centered-content {
    text-align: center;
  }
  
  .heading {
    font-size: 1.2rem;
    margin: 5px 0;
  }
  
  .address {
    font-size: 0.9rem;
    margin: 10px 0;
  }
  
  .meet-link a {
    text-decoration: none;
    color: #ffc107;
    font-size: 0.9rem;
  }
  
  .copy-right {
    font-size: 0.8rem;
    margin: 5px 0;
    text-align: center;
  }
  
  /* Responsive adjustments */
  @media (max-width: 768px) {
    .footer-container {
      flex-direction: column;
      align-items: center;
      text-align: center;
    }
  
    
  
    .logo-social {
      align-items: center;
    }
  
    .logo {
      height: 50px;
    }
  }
  